.generator {
    float: right;
    margin-right: 10px;
    position: relative;

    div, .btn {
        display: inline-block;
    }    

    input {
        position: absolute;
        right: 50px;
        width: 140px;
    }
}