
.navbar {
    background-color: #fff;
    border: 1px solid #ddd;

    a.navbar-brand {
        padding-top: 0.4rem;
        
        img{
            width: 100px;
        } 
    }

    .form-inline {
        display: inline-block;
        max-width: 300px;
    }

    .navbar-collapse {
        display: block;
        float: right;
        width: 408px;
    }

    .btn.user {
        margin-left: 0.4rem;
    }

    .dropdown {
        .dropdown-menu {
            right: 0;
            left: auto;
            top: 46px;
            margin-left: 1rem;
        }
    }

    .avatar {
        width: 18px;
        border-radius: 50%;
        margin: 0.3rem 0.1rem 0.4rem 0.1rem;
    }

    .profile {
        padding: 0.4rem 1.6rem;

        textarea {
            border: 1px solid rgb(239, 239, 239);
            width: 220px;
            border-radius: 5px;
            margin: 0px;
            font-family: monospace;
            font-size: small;
        }
    }

    .btn {
        float: right;

        &.btn-link {
            float: none;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .btn.logout {
        margin-left: 10px;
    }

    .btn.save,
    .btn.logout {
        display: none;
    }

    .btn.download,
    .btn.save {
        margin-right: 10px;
    }
}

body.loaded {

    .btn.save,
    .btn.logout,
    .btn.download,
    .btn.new {
        display: block;
    }

}

body:not(.loaded) {
    .user {
        display: none;
    }
}

@media(max-width: 768px) {
    .navbar {
        .navbar-collapse {
           max-width: 200px;
           margin-bottom: 6px;
        }
        .form-inline {
            display: block;
            max-width: 100%;
        }
    }
}