
.navbar {
    background-color: #fff;
    border: 1px solid #ddd;

    a.navbar-brand {
        img{
            width: 100px;
        } 
    }

    .form-inline {
        display: inline-block;
        max-width: 300px;
    }

    .navbar-collapse {
        display: block;
        float: right;
        width: 408px;
    }

    .btn {
        float: right;
    }

    .btn.logout {
        margin-left: 10px;
    }

    .btn.save,
    .btn.logout,
    .btn.download,
    .btn.new {
        display: none;
    }

    .btn.download,
    .btn.save {
        margin-right: 10px;
    }
}

body.loaded {

    .btn.save,
    .btn.logout,
    .btn.download,
    .btn.new {
        display: block;
    }

}

@media(max-width: 768px) {
    .navbar {
        .navbar-collapse {
           max-width: 200px;
           margin-bottom: 6px;
        }
        .form-inline {
            display: block;
            max-width: 100%;
        }
    }
}