body {
    background-color: #fcfcfc;

    input:focus {
        outline: none !important;
        border: 1px solid $brand-primary !important;
    }

    .modal-dialog {
        margin: 100px auto;
    }

    .modal-title {
        float: left;
    }

    .btn {
        &:focus {
            outline: none !important;
        }
        i {
            font-size: 1.2rem;
        }

        &.new {
            display: none !important;
        }
    }

    /* --- select group message --- */
    .select-group-message {
        display: none;
        
        .card {
            margin: 0 auto;
            text-align: center;
            width: 25rem;
        }
    }

    &.loaded .select-group-message {
        display: block;
    }

    &.group-selected {
        .select-group-message {
            display: none;
        }
        .btn.new {
            display: block !important;
        }
    }

}