.table {
    margin-top: 65px;
    opacity: 0.4;
    transition: all 0.5s ease;

    .controls {
        border-bottom: 1px solid #efefef;
        display: block;
        min-height: 50px;

        .dropdown {
            float: left;
        }

        .btn.download {
            display: inline-block;
        }

        .btn.new {
            float: right;
        }
    }

    .row {
        padding: 10px 0 0;
        margin: 0;
        /*min-width: 1000px;*/

        .cell {
            float: left;
            padding: 0 6px;
            position: relative;
            width: calc(25% - 20px);
        }
    }

    /* menu buttons */
    .row > .cell:nth-child(5) {
        width: 80px;
        margin-top: 3px;
        padding: 0;
        text-align: right;

        .btn {
            padding: .1rem .4rem 0rem .4rem;
        }
    }

    .thead {
        display: none;
        
        .cell {
            font-weight: 600;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-size: 0.75rem;
            padding-top: 5px;
        }

        .sort {
            span {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                height: 0; 
                margin-bottom: 3px;
                margin-left: 5px;
                width: 0; 
               
                &.darr {
                    display: none;
                    border-top: 5px solid #333;
                }

                &.uarr {
                    display: inline-block;
                    border-bottom: 5px solid #333;
                }
            }
        }

        .sort.desc {
            span.darr {
                display: inline-block;
            }
            span.uarr {
                display: none;
            }
        }

        .sort:hover {
            cursor: pointer;
        }

     }

    .tbody {

        .row {
            height: 0;
            opacity: 0;
            overflow: hidden;
            padding: 0;
            transition: opacity 0.4s ease;
        }

        .row.fadein {
            height: auto;
            opacity: 1;
            padding: 10px 0 0;
        }

        .row.child {
            border-left: 1px solid $brand-primary;
            float: right;
            margin-right: -20px;
            width: 100%;
        }
        .row.child > .cell:first-child {
            width: calc(25% - 40px);
        }

        input {
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            // border-radius: 0.1rem;
            color: #55595c;
            display: inline-block;
            font-size: 1rem;
            line-height: 1.6;
            width: 100%;
        }

        input[disabled] {
            border-color: transparent;
            background-color: #eee;
        }

    }
}

/* body class conditionals */
.loaded .table {
    opacity: 1;
}

.group-selected .thead {
    display: block;
}

/* mobile */
@media(max-width: 1000px) {

    .table {

        margin-top: 108px;

        .thead {
            display:none;
        }

        .row {

            .cell,
            .cell:nth-child(5) {
                margin: 10px 0;
                padding-right: 8px;
                width: 100%;
            }

            .btn {
                float: right;
            }

            .menu {
                // left: auto;
                // right: -60px;

                .btn {
                    float: none;
                }
            }

            .menu.active {
                left: auto;
                right: 20px;
            }
        }

        .tbody {
            .row.child {
                width: 97%;
                margin-right: 0;
            }

            .row.child>.cell:last-child,
            .row.child>.cell:first-child {
                width: 100%;
            }
        }
    }

}
